<div class="card" style="width: 60rem;">
    <div class="card-body">
       
        <p class="card-text">{{applicantget.firstName}}</p>
        <p class="card-text">{{applicantget.lastName}}</p>
        <p class="card-text">{{applicantget.email}}</p>
        <p class="card-text">{{applicantget.password}}</p>
        <p class="card-text">{{applicantget.nationalIdentity}}</p>
        <p class="card-text">{{applicantget.dateOfBirth}}</p>
        <p class="card-text">{{applicantget.about}}</p>
    </div>
</div>



