<h4>Instructor By id</h4>
<table class="table">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">e-mail</th>
      <th scope="col">Nationaldentity</th>
      <th scope="col">Date of Birth</th>
      <th scope="col">Company Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ instructors.firstName }}</td>
      <td>{{ instructors.lastName }}</td>
      <td>{{ instructors.email }}</td>
      <td>{{ instructors.nationalIdentity }}</td>
      <td>{{ instructors.dateOfBirth }}</td>
      <td>{{ instructors.companyName }}</td>
    </tr>
  </tbody>
</table>
